/* App.css */
.App {
    text-align: center;
  }
  
  .task-input {
    margin-bottom: 20px;
  }
  
  .task-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    margin-bottom: 10px;
  }
  
  .task-list li span {
    margin-right: 10px;
  }
  
  .task-list li button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .task-list li.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  /* App.css */
.task-list li.completed button {
  background-color: black;
  color: white; /* Text color */
}

.task-list li button {
  background-color: #ff0000; /* Default background color */
  color: #ffffff; /* Default text color */
}

